<!-- restaurantSearch.ejs -->

<HTML>
  <body>
    <h1>Search Restaurant</h1>
    <p><a href="/restaurant/display/all">Go back to restaurant list</a></p>
    <br/>
    <table>
      <tr>
        <td>
          Keyword: 
        </td>
        <td>
          <input value='<%= keyword %>' readonly/>
        </td>
      </tr>
    </table>
    <br/>
      <p>Search Results</p>
    <ol>
    <% for (var i = 0; i < restaurants.length; i++) { %>
         <li><p><a href="/restaurant/display/details?restaurantID=<%= restaurants[i].restaurantID %>"><%= restaurants[i].name %></a></p></li>
     <% } %>
     </ol>
  </body>
</HTML>
