<!--userCreateSuccessful.ejs-->

<HTML>
    <body>
        <h1>Create User Account</h1>
        <p style="color:red"><%= info %></p>
        <p><a href="/user/login">Go back to login page</a></p>
    </body>
</HTML>